#Options{
    font-family: Segoe 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    color: rgb(255, 255, 255);
}
.button{
    background-color: #4CAF50; /* cor de fundo */
    color: white; /* cor do texto */
    padding: 10px 20px; /* espaçamento interno (topo/baixo esquerda/direita) */
    border: none; /* remover a borda padrão */
    border-radius: 4px; /* borda arredondada */
    text-align: center; /* alinhar o texto ao centro */
    text-decoration: none; /* remover decoração de link */
    display: inline-block; /* exibir como um bloco em linha */
    font-size: 16px; /* tamanho da fonte */
    cursor: pointer; /* mostrar cursor de mão quando passar por cima */
}
.imagem{
    width:30%;
}
#blog-title{
    margin-left: 5vw; 
    margin-top: 5vh;
}
#post2{
    margin-top: 10vh;
}
#post3{
    margin-top: 10vh;
}
#post4{
    margin-top: 10vh;
}
#post4 img{
    height: 30vh;
}
#post5{
    margin-top: 10vh;
}
#post5 img{
    height: 30vh;
}
#post6{
    margin-top: 10vh;
}#post7{
    margin-top: 10vh;
}
.blog-images{
    width: 50%;
}